<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US">
        <seg>To ensure uninterrupted access, your subscription will auto-renew every <ph type="x-smartling-placeholder">{0}</ph> at a rate of <ph type="x-smartling-placeholder">{1}</ph> using the payment method provided. You may turn off auto-renewal at any time through your Account Settings. By clicking &apos;<ph type="x-smartling-placeholder">{2}</ph>&apos; you allow us to charge the payment method provided, and you agree to our
        <bpt i="7">&lt;a href=&apos;{ph:\{3\}}&apos; class=&apos;{ph:\{4\}}&apos; target=&apos;{ph:\{5\}}&apos;&gt;</bpt>Terms of Service<ept i="7">&lt;/a&gt;</ept> and <bpt i="12">&lt;a href=&apos;{ph:\{6\}}&apos; class=&apos;{ph:\{7\}}&apos; target=&apos;{ph:\{8\}}&apos;&gt;</bpt>Payment Policy<ept i="12">&lt;/a&gt;</ept>.</seg>
      </tuv>
      <tuv xml:lang="de-DE">
        <seg>Um ununterbrochenen Zugriff zu gewährleisten, wird Ihr Abonnement mithilfe der hinterlegten Zahlungsmethode automatisch <ph type="x-smartling-placeholder">{1}</ph> zu einem Preis von <ph type="x-smartling-placeholder">{0}</ph> verlängert. Sie können die automatische Verlängerung jederzeit über Ihre Account-Einstellungen deaktivieren. <bpt i="7">&lt;a href=&apos;{ph:\{3\}}&apos; class=&apos;{ph:\{4\}}&apos; target=&apos;{ph:\{5\}}&apos;&gt;</bpt><ept i="7">&lt;/a&gt;</ept><bpt i="12">&lt;a href=&apos;{ph:\{6\}}&apos; class=&apos;{ph:\{7\}}&apos; target=&apos;{ph:\{8\}}&apos;&gt;</bpt><ept i="12">&lt;/a&gt;</ept>Durch einen Klick <ph type="x-smartling-placeholder">{2}</ph>erklären Sie sich damit einverstanden, dass wir den Mitgliedsbeitrag mit der von Ihnen hinterlegten Zahlungsmethode abbuchen. Des Weiteren stimmen Sie unseren Datenschutzrichtlinien und Nutzungsbedingungen zu.</seg>
      </tuv>
    </tu>
  </body>
</tmx>
