<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US">
        <seg>To ensure uninterrupted access, your subscription will auto-renew every <ph type="x-smartling-placeholder">{0}</ph> at a rate of <ph type="x-smartling-placeholder">{1}</ph> using the payment method provided. You may turn off auto-renewal at any time through your Account Settings.</seg>
      </tuv>
      <tuv xml:lang="de-DE">
        <seg>Um ununterbrochenen Zugriff zu gewährleisten, wird Ihr Abonnement mithilfe der hinterlegten Zahlungsmethode automatisch <ph type="x-smartling-placeholder">{1}</ph> zu einem Preis von <ph type="x-smartling-placeholder">{0}</ph> verlängert. Sie können die automatische Verlängerung jederzeit über Ihre Account-Einstellungen deaktivieren.</seg>
      </tuv>
    </tu>
  </body>
</tmx>
