<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">foo.bar</prop>
      <tuv xml:lang="en-US"><seg>foobar</seg></tuv>
      <tuv xml:lang="de-DE"><seg>foosbar</seg></tuv>
    </tu>
    <tu tuid="def456" segtype="block">
      <prop type="x-smartling-string-variant">foo.bar.baz</prop>
      <tuv xml:lang="de-DE"><seg>foosbarbeitsch</seg></tuv>
      <tuv xml:lang="en-US"><seg>foobarbaz</seg></tuv>
    </tu>
  </body>
</tmx>
