<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant"><%= meta_key %></prop>
      <tuv xml:lang="en-US"><seg>first value</seg></tuv>
      <tuv xml:lang="de-DE"><seg>first value german</seg></tuv>
    </tu>
    <tu tuid="def456" segtype="block">
      <prop type="x-smartling-string-variant"><%= meta_key%></prop>
      <tuv xml:lang="en-US"><seg>second value</seg></tuv>
      <tuv xml:lang="de-DE"><seg>second value german</seg></tuv>
    </tu>
  </body>
</tmx>
