<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US">
        <seg>To ensure uninterrupted access, your subscription will auto-renew every <ph type="x-smartling-placeholder">{0}</ph> at a rate of <ph type="x-smartling-placeholder">{1}</ph> using the payment method provided. You may turn off auto-renewal at any time through your Account Settings. By clicking &quot;Submit,&quot; you agree to our <bpt i="7">&lt;a href=&apos;{ph:\{2\}}&apos;  target=&apos;_blank&apos;&gt;</bpt>Terms of Service<ept i="7">&lt;/a&gt;</ept> and <bpt i="12">&lt;a href=&apos;{ph:\{3\}}&apos; target=&apos;_blank&apos;&gt;</bpt>Payment Policy<ept i="12">&lt;/a&gt;</ept>.</seg>
      </tuv>
      <tuv xml:lang="de-DE">
        <seg>Um ununterbrochenen Zugriff zu gewährleisten, wird Ihr Abonnement mithilfe der angegebenen Zahlungsmethode automatisch <ph type="x-smartling-placeholder">{0}</ph> zu einem Preis von <ph type="x-smartling-placeholder">{1}</ph> verlängert. Sie können die automatische Verlängerung jederzeit über Ihre Kontoeinstellungen deaktivieren. Wenn Sie auf „Absenden” klicken, stimmen Sie den <bpt i="7">&lt;a href=&apos;{ph:\{2\}}&apos;  target=&apos;_blank&apos;&gt;</bpt>Nutzungsbedingungen<ept i="7">&lt;/a&gt;</ept> und den <bpt i="12">&lt;a href=&apos;{ph:\{3\}}&apos; target=&apos;_blank&apos;&gt;</bpt>Datenschutzrichtlinien<ept i="12">&lt;/a&gt;</ept> zu. </seg>
      </tuv>
    </tu>
  </body>
</tmx>
