<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US">
        <seg>Enjoy easy, accessible customer service. Please visit <bpt i="3">&lt;a href=&quot;{ph:\{0\}}&quot; target=&quot;{ph:\{1\}}&quot;&gt;</bpt>Help Center<ept i="3">&lt;/a&gt;</ept> for FAQs. Or you can get a direct reply from a support agent.</seg>
      </tuv>
      <tuv xml:lang="de-DE">
        <seg>Unser Customer-Service ist leicht erreichbar.  Besuchen Sie unser Help-Center und finden Sie dort zahlreiche FAQs. <bpt i="5">&lt;a href=&quot;{ph:\{0\}}&quot; target=&quot;{ph:\{1\}}&quot;&gt;</bpt><ept i="5">&lt;/a&gt;</ept>Oder erhalten Sie eine persönliche Antwort von einem unserer Support-Mitarbeiter. </seg>
      </tuv>
    </tu>
  </body>
</tmx>
