<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US"><seg><bpt i="3">&lt;u&gt;</bpt>Our use of cookies.<ept i="3">&lt;/u&gt;</ept></seg></tuv>
      <tuv xml:lang="de-DE"><seg><bpt i="3">&lt;u&gt;</bpt>Verwendung von Cookies.<ept i="3">&lt;/u&gt;</ept></seg></tuv>
    </tu>
  </body>
</tmx>
