<tmx version="1.4">
  <body>
    <tu tuid="dfe2d34a0341f8b06b21402f42fcafac" segtype="block">
      <prop type="x-segment-id">0</prop>
      <prop type="x-smartling-string-variant">en.foo.bar.baz</prop>
      <tuv xml:lang="en-US">
        <seg>Click on Lumos Labs</seg>
      </tuv>
      <tuv xml:lang="de-DE">
        <seg>Klicke auf <ph type="x-smartling-placeholder">{0}</ph> Lumos Labs</seg>
      </tuv>
    </tu>
  </body>
</tmx>
