<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant"><%= meta_key %></prop>
      <tuv xml:lang="en-US"><seg><%= wrap_placeholders(key) %></seg></tuv>
      <tuv xml:lang="de-DE"><seg><%= wrap_placeholders(translation) %></seg></tuv>
    </tu>
  </body>
</tmx>
