<tmx version="1.4">
  <body>
    <tu tuid="abc123" segtype="block">
      <prop type="x-smartling-string-variant">en.foo.bar</prop>
      <tuv xml:lang="en-US"><seg>foobar
baz</seg></tuv>
      <tuv xml:lang="de-DE"><seg>foosbar</seg></tuv>
    </tu>
  </body>
</tmx>
